<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Document</title>

  <!-- Include the Mapbox GL JS library -->
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />

  <!-- Include style CSS and JavaScript -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <% 
    var 
      {
        title, 
        artist, 
        description,
        address,
        city, 
        state,
        postalCode,
        image,
        sourceURL,
        sourceOfInformation,
      } = artwork.properties;
    var latitude, longitude;
    if (artwork.geometry.coordinates) {
      var [longitude, latitude] = artwork.geometry.coordinates;
    }
  %>
   
  <div class="container">
    <h2>Edit POI</h2>
    <div class="row">
      <div class="col-md-6">
        <h3>POI details</h3>
        <button onclick="queryNominatim()">
          Generate Coordinates from Nominatim
        </button>
        <form class="poi-details-form col">
          
          <div class="poi-coordinates alert" style="background-color: lightgrey;">
            <div>
              <span>
                <label for="longitude">Longitude</label>
                <input 
                  disabled 
                  type="text"  
                  id="longitude" 
                  value="<%-longitude%>">
              </span>
              <span>
                <label for="latitude">Latitude</label>
                <input 
                  disabled 
                  type="text"  
                  id="latitude" 
                  value="<%-latitude%>">
              </span>
              
            </div>
          </div>  
          <div>
            <label for="title">Title</label>
            <br>
            <input type="text" class="form-control poi-edit-input" id="title" value="<%-title%>">
          </div>
          <div>
            <label for="artist">Artist</label>
            <br>
            <input type="text" class="form-control poi-edit-input" id="artist" value="<%-artist%>">
          </div>
          <div>
            <label for="address">Address</label>
            <br>
            <input type="text" class="form-control poi-edit-input" id="address" value="<%-address%>">
          </div>
          <div>
            <label for="city">City</label>
            <br>
            <input type="text" class="form-control poi-edit-input" id="city" value="<%-city%>">
          </div>
          <div class="state-postal-code" style="display:inline-block; width: 100%">
            <span>
              <label for="state">State</label>
              <input type="text" class="poi-edit-input" id="state" value="<%-state%>">
            </span>
            <span>
              <label for="postalCode">Postal Code</label>
              <input type="text" class="poi-edit-input" id="postalCode" value="<%-postalCode%>">
            </span>
          </div>
          <div>
            <label for="image">Image URL</label>
            <br>
            <input type="text" style="font-size: 11px;" class="form-control poi-edit-input" id="image" value="<%-image%>">
          </div>
          <div>
            <label for="sourceUrl">Source URL</label>
            <br>
            <input type="text" style="font-size: 11px;" class="form-control poi-edit-input" id="sourceUrl" value="<%-sourceURL%>">
          </div>
          
          <div>
            <label for="description">Description</label>
            <br>
            <textarea 
              class="w-100" 
              id="description"
              style="max-width: 100%; width: 100%; height: 200px;"
            >
              <%= description%>
            </textarea>
          </div>
          
        </form>
        <button>Submit this POI</button>
      </div>
      
      <div class="col-md-6"> 
          <div>
            <span>
              <h3>POI Mapping</h3>
            </span>
            <span>
              <button onclick="mapFlyToCurrent()">
                Refresh Map
              </button>
            </span>
          </div>
          
          <div id='map' class='map' style="width: 100%; height: 80vh;">
          </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/static/debug-helper.js">
    
  </script>
  <script type="text/javascript" src="/modules/axios/dist/axios.js" ></script>
  <script>
    var title, artist, description, city, state, postalCode, image, sourceUrl, sourceOfInformation; 
    var latitude, longitude;
    var popup;

    mapboxgl.accessToken = "pk.eyJ1IjoieWNob3kiLCJhIjoiY2pmOTYwdzZ5MG52dDJ3b2JycXY4ZDU5ciJ9.m9H_Mqu1b42AObg_u_tjpA";

    refreshVariables();
    
    var map = new mapboxgl.Map({
      container: "map",
      style: "mapbox://styles/mapbox/light-v9",
      center: [-121.893028, 37.33548], // position in long, lat format
      zoom: 10,
      dragPan: true, // If true , the "drag to pan" interaction is enabled (see DragPanHandler)
      trackResize: true, // If true, the map will automatically resize when the browser window resizes.
      doubleClickZoom: true, //If true double click will zoom
      keyboard: true //If true will enable keyboard shortcuts
    });

    map.on("load", function(e) {
      if (!latitude || !longitude) {
        // missing coordinates
        console.log("artwork has missing coordinates")
      } else {
        // coordinates are present
        mapFlyToCurrent();
      }
    });

  </script>
</body>
</html>